#FaceCheck {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999999999999;
  display: grid;
  place-items: center;
}

.cfcontainer {
  --text-color-normal: #333333;
  --text-color-highlight: #D65A31;
  --text-color-subtle: #999999;
  --bg-color-main: #ECECEC;
  --bg-color-alt: #CCCCCC;
  text-align: center;
}

.cfdark-theme {
  --text-color-normal: #C4C6C3;
  --text-color-highlight: #D65A31;
  --text-color-subtle: #4B5365;
  --bg-color-main: #222831;
  --bg-color-alt: #21242B;
}

@media (prefers-color-scheme: dark) {
  .cfcontainer {
  --text-color-normal: #C4C6C3;
  --text-color-highlight: #D65A31;
  --text-color-subtle: #4B5365;
  --bg-color-main: #222831;
  --bg-color-alt: #21242B;
  }
}

.checkface {
  background-color: var(--bg-color-main);
  color: var(--text-color-normal);
  padding: 10px;
  border: 2px solid var(--text-color-subtle);
  max-width: 400px;
}

/* these !important properties are to fix problems
due to css of certain host sites. */
/* TODO: use a shadow root instead */
.checkface > p {
  color: var(--text-color-normal) !important;
  display: block !important;
}

.checkface > img {
  max-width: initial !important;
}

#cfToolTip {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  z-index: 9999999999999;
}

#cfToolTip > div {
  position: absolute;
  right: 0;
  top: 2em;
}

#cfToolTip > div > div {
  position: relative;
  left: 50%;
}

a:hover > #cfToolTip {
  display: block;
}