.container {
    --text-color-normal: #333333;
    --text-color-highlight: #D65A31;
    --text-color-subtle: #999999;
    --bg-color-main: #ECECEC;
    --bg-color-alt: #CCCCCC;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: max-content;
    text-align: center;
  }
  
  .container.dark-theme {
    --text-color-normal: #C4C6C3;
    --text-color-highlight: #D65A31;
    --text-color-subtle: #4B5365;
    --bg-color-main: #222831;
    --bg-color-alt: #21242B;
  }
  
  @media (prefers-color-scheme: dark) {
    .container {
    --text-color-normal: #C4C6C3;
    --text-color-highlight: #D65A31;
    --text-color-subtle: #4B5365;
    --bg-color-main: #222831;
    --bg-color-alt: #21242B;
    }
  }
  
  .checkface {
    background-color: var(--bg-color-main);
    color: var(--text-color-normal);
    padding: 10px;
  }