---
---

$section-headings-color: #000000;
@import "{{ site.theme }}";
.page-header {
    overflow: hidden;
    position: relative;
    background: -webkit-linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: -webkit-radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    color: white;
}

:target::before {
    content: '# ';
    font-weight: bold;
    color: rgba(95, 87, 246, 0.63);
    position: absolute;
    margin-left: -20px;
}


.main-content {
    h2 {
        margin-left: 1rem;
    }

    h3 {
        margin-left: 2rem;
    }

    h4, h5, h6, p, ul, ol {
        margin-left: 3rem;
    }
}