---
---

$section-headings-color: #000000;
@import "{{ site.theme }}";

#skip-to-content {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;

    &:focus {
        position: fixed;
        top: 10px;
        left: 10px;
        height: auto;
        width: auto;
        background: invert($body-link-color);
        outline: thick solid invert($body-link-color);
    }
}

.page-header {
    overflow: hidden;
    background: -webkit-linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: -webkit-radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    color: white;
}

:target::before {
    content: '# ';
    font-weight: bold;
    color: rgba(95, 87, 246, 0.63);
    position: absolute;
    margin-left: -20px;
}


.main-content {
    h2 {
        margin-left: 1rem;
    }

    h3 {
        margin-left: 2rem;
    }

    h4, h5, h6, p, ul, ol {
        margin-left: 3rem;
    }
}

.checkface-version-badge {
    border: purple;
    border-style: solid;
    width: fit-content;
    border-radius: 17px;
    border-width: 1px;
    display: grid;
    background-color: #EEE;
    vertical-align: middle;
    grid-template-columns: 1fr auto;
    overflow: hidden;

    .text {
        display: flex;
        margin: 0;
        padding: 0 0.5em;

        p {
            margin: auto;
            font-size: 1em;
        }
    }

    .img {
        display: flex;
        margin: auto;
        padding: 3px;
        background-color: #6f5bf97d;

        img {
            border-radius: 50%;
        }
    }
}